/*
*   Please note: this is LTR so left is right.
*   Example: logo-top-right is at the left top side of the grid when declaring!
*/



body{
    margin: 0 auto;
    padding:0;
    background-color: #d4d6d7;
    font-family: 'Assistant', sans-serif;
}
#wrapper {
    display: grid;
    width: 1920px;
    height: 1080px;
    /* max-height: 980px;     */
    margin: 0 auto;
    padding: 0 50px 60px 50px;
    /* margin-top: 20px; */
    grid-template-areas: "logo-top-right content-top logo-top-left"
                         "bold-line bold-line contact-us"
                         "tech-line tech-line contact-us"
                         "interested-line interested-line contact-us";
                         
    grid-template-rows: 400px 120px 310px auto;
    grid-template-columns: repeat(1fr,4);
    grid-gap: 0;
    /* border: 1px solid green; */
}
.border-primary {
    border: 3px solid #f26d2c;
    border-radius: 15px;
}

.background-primary {
    background-color: #f26d2c;
}

.text-color-primary {
    color: #f26d2c;
}
.text-color-white {
    color: #ffffff;
}
.text-color-black {
    color: #000000;
}
.grid-item {
    /* border: 1px solid orangered; */
    font-size: 14px;
    font-weight: 100;
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: center; */
}
#content-top {
    grid-area: content-top;
    font-size: 62px; 
    word-spacing: 16px;   
    align-items: center;
    justify-content: flex-end;
}
#content-top .list  {
    list-style-type: none;
    padding-right: 0;
}
#logo-top-right {
    grid-area: logo-top-right;
    align-items: center;
    justify-content: center;
    
}
#logo-top-left {
    grid-area: logo-top-left;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
    padding-bottom: 24px;
}
#bold-line {
    grid-area: bold-line;
    align-items: center;
    word-spacing: 5px;   
    /* justify-content: center; */
    /* letter-spacing: 1px; */
    /* padding-right: 5px; */
 
}
#bold-line .textWrapper {
    font-size: 100px; 
    line-height: 80px;   
    padding-bottom: 10px;
}

#tech-line{
    grid-area: tech-line;
    align-items: center;
    justify-content: flex-start;
    word-spacing: 5px;
    /* padding-left: 10px; */
    
}
#tech-line .textWrapper{
    padding: 0 10px 0 10px;
    text-align: center;
}
#tech-line .tech-line-top{
    font-size: 72px;         
}
#tech-line .tech-line-bot{
    font-size: 77px;         
}
#interested-line{
    grid-area: interested-line;
    align-items: flex-start;
    justify-content: center;
    font-size: 72px;
}
#interested-line .textWrapper{
    text-align: center;
    display: flex;
    line-height: 70px;


}
#interested-line .textWrapper .inter-start{
    /* padding-right: 5px; */
    padding-bottom: 10px;
}
#interested-line .textWrapper .inter-end{
    padding-right: 13px;
}

#contact-us{
    grid-area: contact-us;
    font-size: 60px;
    /* display: inline;     */
    
}
#contact-us .formWrapper {
     display:flex;
     /* align-items: initial;
     justify-content: initial; */
     flex-direction: column;
     width: 100%;
     text-align:center;
     margin: 0 auto;
     box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.7);
}
#contact-us input{
    /* t r b l */
    margin: 0 25px 35px 25px;
    font-size: 25px;   
    text-align:center;     
    height: 51px;
    box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 10px;
}
#contact-us input:focus{
    outline-color: orangered;
}
#contact-us .formWrapper input#submitBtn {
    font-size:34px;
    color: black;
    background:  #f26d2c;
    cursor: pointer;
}

#contact-us .form-title{
    margin-bottom: 0.2em;
    margin: 33px 25px 35px 25px;
}